<header class="bg-white shadow-md h-[90px]">
  <nav class="container mx-auto h-full flex items-center justify-between">
    <a routerLink="/" class="font-bold text-lg"><span class="text-red-500">&#60;</span> <span
      class="text-red-500">DVLOP</span> <span class="text-black"> BLOG </span> <span
      class="text-black">/&#62;</span></a>


    <div class="form-control">
      <div class="input-group">
        <input [(ngModel)]="search" type="text" placeholder="Rechecher..." class="input input-bordered" />
        <button (click)="searchArticles()" class="btn btn-square">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>

    <ul class="flex items-center">
      <li><a class="p-3 text-neutral-800 font-medium hover:text-red-500 rounded-sm mr-3" routerLink="/"><i
        class="fa-solid fa-house"></i> Accueil</a></li>
      <div class="dropdown mr-3">
        <label tabindex="0" class="text-neutral-800 font-medium m-1 cursor-pointer hover:text-red-500"><i
          class="fa-solid fa-layer-group"></i> Catégories</label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow rounded-box w-52 bg-white z-10">
          <li *ngFor="let category of categories"><a [routerLink]="'articles/category/'+category.id" class="text-neutral-800">{{ category.name | uppercase }}</a></li>
        </ul>
      </div>

      <!-- Inscription/Connexion -->
      <li><a class="p-3 text-neutral-800 font-medium hover:text-red-500 rounded-sm" href="#"><i
        class="fa-solid fa-user"></i> Inscription / Connexion</a></li>
    </ul>
  </nav>
</header>
