/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.d-1 {
  border: 1px solid red;
  background: red;
}

.d-2 {
  border: 1px solid green;
  background: green;
}

.d-3 {
  border: 1px solid purple;
  background: purple;
}

/* CK EDITOR Style */
.ck .ck-content h2 {
  @apply text-2xl font-bold
}

.ck .ck-content h3 {
  @apply text-xl font-bold
}
