<section>
  <div class="hero h-[50vh]" style="background-image: url('./assets/images/hero-background.jpg')">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-xl">
        <h1 class="mb-5 text-5xl font-bold">Votre guide vers l'innovation</h1>
        <h3 class="text-xl font-semibold">Découvrez, apprenez et maitrisez les dernières technologies pour façonner l'avenir du web</h3>
      </div>
    </div>
  </div>
</section>
<section class="container mx-auto my-16">
  <h2 class="text-2xl text-center font-black my-6">Derniers articles</h2>

  <div class="flex flex-wrap justify-center gap-x-12">

    <div class="card w-96 bg-base-100 shadow-xl hover:shadow-2xl" href="#">
      <a href="#"><img src="./assets/images/article.jpg" alt="article"></a>
      <div class="card-body">
        <h2 class="card-title">Titre de l'article</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, dolores...</p>
        <div class="card-actions justify-start">
          <a href="#" class="btn btn-primary">Lire <i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
      </div>
    </div>

    <a class="card w-96 bg-base-100 shadow-xl hover:shadow-2xl" href="#">
      <figure><img src="./assets/images/article.jpg" alt="article"></figure>
      <div class="card-body">
        <h2 class="card-title">Titre de l'article</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, dolores...</p>
      </div>
    </a>

    <a class="card w-96 bg-base-100 shadow-xl hover:shadow-2xl" href="#">
      <figure><img src="./assets/images/article.jpg" alt="article"></figure>
      <div class="card-body">
        <h2 class="card-title">Titre de l'article</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, dolores...</p>
      </div>
    </a>

  </div>

</section>
